<%
models = @scope_adapter.models
%>

<div id='scopeSelector'>
  <label id='scopeSelectorLabel'>Select the system you want to edit > </label>
  <ul>
  <%models.each do |model|%>
    <%model_name = model.name%>
    <li><%=label_tag model.human_name + ":"%>
      <%=select_tag model_name, 
                    options_for_select(@scope[model_name][:entries].collect{|o| [o.name, o.id]}, @scope[model_name][:selected]),
                    :id => "#{model_name}"
      %>
      <div id="scopeSelectorLinks">
      <a>Add</a>
      <a>Edit</a>
      <a>Delete</a>
      </div>
    </li>
  <%end%>
  </ul>

  <script>
  jQuery(function(jQuery) {
      jQuery('<%=models.collect{|model| "##{model.name}"}.join(',')%>').change(function() {
          jQuery.ajax({url: '<%= url_for :action => :update_scope %>',
          data: 'selected=' + this.value + '&model=' + this.id,
          dataType: 'text',
          success: function(html){
            jQuery("#scopeSelector").html(html);
            location.reload();
          }})
      });
  });
  </script>
</div>