    <script>
      jQuery(document).ready(function() {
        
        jQuery("#splitter").splitter({
            splitVertical: true,
            outline: false,
            sizeLeft: 250,
            minLeft: 150,
            dock: 'left',
            dockSpeed: 1,
            accessKey: "I",
            anchorToWindow: true,
            cookie: "rails_admin_splitter",
            cookiePath: "/"
          });
        
        jQuery("#accordion").accordion(
          {
            navigation: true, 
            fillSpace: true,
            animated: "bounceslide",
            navigationFilter: function(){
              matchKeys = jQuery(this).attr("class")
              if(matchKeys.length == 0)
                return false;
              matchKeys = matchKeys.split(' ');
              for(var i=0;i<matchKeys.length;i++){
                var regex = new RegExp('/' + matchKeys[i] + '\\b', 'i');
                if(this.href.toLowerCase().match(regex) != null)
                  return true;
              }
              return false;
            }
          });

        
        jQuery(window).resize(function(){
            jQuery("#accordion").accordion("resize");
        });
      });  
    </script>
    <div id="header">     
      <div id="headerLeft">
        <h1 id="logo">
          <%= link_to rails_admin_dashboard_path do %>
            <span class="image_replacement"><%= @plugin_name %></span>
          <% end -%>
        </h1>        
      </div>
      <div id="headerRight">      
        <%= render(:partial => 'rails_admin/main/user_info', :locals => {:current_user => _current_user}) %>        
        <%if @scope_adapter %>
          <img id='separator' src="/images/rails_admin/3dots-separator.png"></img>        
          <%= render(:partial => 'rails_admin/extensions/scope/scope_selector')%>
        <%end%>        
      </div>
    </div>