<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.uniq.each do |message|
        message = I18n.t("devise.failure.user_not_found") if message.include?("not found") && (!action && (!["password_reset", "unlock"].include? action))
        %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>