<%
  config = field.associated_model_config
  selected_id = field.selected_id
  
  visible = !scope_adapter || !scope_adapter.models.collect{|m| m.name}.include?(config.abstract_model.model.name)
  selected = current_scope(config.abstract_model.model.name) if not visible

  selected_id = selected.to_i rescue field.selected_id if selected
  
  collection = field.associated_collection(authorization_adapter, scope_adapter)

%>

              <div class="field <%= "#{field.dom_id}" %>">
                <%= form.label field.method_name, field.label %>
                <%= form.select field.method_name, collection, { :selected => selected_id, :include_blank => true }, field.html_attributes %>
                <% if authorized? :new, config.abstract_model %>
                  <%= link_to "Add new #{config.abstract_model.to_param}", new_path(current_scope_parameters.merge(:model_name => config.abstract_model.to_param)), :class => "createAssociatedRecord" %>
                <% end %>
                <% if field.has_errors? %>
                <span class="errorMessage"><%= "#{field.label } #{field.errors.first}" %></span>
                <% end %>
                <p class="help"><%= field.help %></p>
                <% head_style 'rails_admin/ra.filtering-select.css' %>
                <% head_javascript do %>
                  $j(document).ready(function($){
                    $(".<%= "#{field.dom_id}" %> .createAssociatedRecord").remoteForm({ dialogClass: "createAssociatedRecordDialog" });
                    $("#<%= "#{field.dom_id}" %>").filteringSelect({
                    });
                  });
                <% end %>
              </div>
