<div id="noContent">
  <div id="label">
    <span class="icon"><%=image_tag "rails_admin/no_content.png"%></span><span class="text"><%=t('admin.scope.no_content', :model => @scope_adapter.models.last.name)%></span>
  </div>
</div>
