<%
models = RailsAdmin::Config::Scope.models
%>

<script>
jQuery(function(jQuery) {
    jQuery('<%=models.collect{|model| "#scope#{model.name}"}.join(',')%>').change(function() {
        jQuery.ajax({url: '<%= url_for :action => :set_scope, :controller => :scope %>',
        data: 'selected=' + this.value + '&model=' + this.id,
        dataType: 'script'})
    });
});
</script>

<div id='scopeSelector'>
  <label id='scopeSelectorLabel'>Select the system you want to edit > </label>
  <ul>
  <%models.each do |model|%>
    <li><%=label_tag model.name + ":"%>
      <%= render :partial => 'scope_models', :locals => {:model => model} %>
    </li>
  <%end%>
  </ul>
</div>