<p>Здравствуйте  <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>
<p>Кто-то запросил ссылку для изменения Вашего пароля. Пароль можно изменить по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>


<p>Если Вы не запрашивали изменение пароля, то, пожалуйста, проигнорируйте этот e-mail.</p>
<p>Ваш пароль не изменится до тех пор, пока Вы не перейдете по ссылке выше, чтобы создать новый пароль.</p>