#scopeSelector {
float:right;
}

#scopeSelector ul {
margin-top:5px;
margin-right:20px;
float:left;
}

#scopeSelector li {
list-style:none;
padding-bottom:3px;
}

#scopeSelector li label {
display:inline-block;
margin-right:5px;
text-align:right;
vertical-align:baseline;
width:80px;
}

#scopeSelector li select {
width:160px;
}

#scopeSelectorLinks {
display:inline;
}

img#separator {
padding-top:15px;
margin-right:20px;
float:right;
width:20px;
}